/* --TABLE OF CONTENTS-- */
/* 1.NAVBAR */
/* 2.HERO */
/* 3.ABOUT */
/* 4.PROJECTS */
/* 5.CONTACT */
/* --------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

:root {
  --primary-color: hsl(317 100% 54%);

  --font-color: #fff;
  --font-family: "Roboto", sans-serif;
  --secondary-font: "Rubik", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  background-repeat: no-repeat;
  background: #0a0a0a 100%;
  font-family: var(--font-family);
  color: var(--font-color);
}

a {
  text-decoration: none;
}

section {
  padding: 5.5rem 0;
}

header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #212121;
}

/* NAVBAR */

.navbar {
  padding: 0.5rem 0;
}

a .nav-link {
  justify-content: center;
  align-items: center;
}

.bg-dark {
  background-color: #212121 !important;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.7rem;
  color: var(--font-color) !important;
  text-transform: uppercase;
}

.nav-item {
  padding: 0 0.5rem;
}

a .nav-link:hover {
  color: var(--primary-color);
}

.header_wrapper .nav-item .nav-link.active,
.header_wrapper .nav-item .nav-link:hover {
  color: var(--primary-color) !important;
}

/* HERO */
.hero_wrapper {
  padding-bottom: 255px;
}

.jumbotron {
  background-color: #0a0a0a;
  padding-top: 200px;
}

.jumbotron .h2,
h2 {
  font-size: 3rem;
}

.jumbotron .h1,
h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--secondary-font);
  font-weight: 700;
}

.jumbotron .h4,
h4 {
  font-size: 2rem;
  text-transform: uppercase;
}

.main-btn {
  border: 2px solid var(--primary-color);
  padding: 1rem;
  border-radius: 2em;
  text-decoration: none !important;
  color: var(--font-color);
  font-size: 1.5rem;
}

.main-btn:hover {
  color: var(--primary-color);
  box-shadow: 5px 5px 5px 5px #000;
}

/* ABOUT */

.about {
  padding-top: 100px;
}

.about h2 {
  font-size: 3.5rem;
}

.about p {
  font-size: 1.5rem;
}

.bigger {
  font-size: 1.4rem;
  padding-top: 2rem;
}

.about_wrapper .single-logo-item {
  width: 100%;
  height: 6.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about_wrapper {
  padding: 1.5rem 1.8rem;
  background: #000;
  position: relative;
  margin-top: 1.5rem;
  padding-bottom: 250px;
}

/* PROJECTS */

.card-body,
.card {
  background-color: #000;
  border-color: #000;
}

.projects_wrapper h2 {
  font-size: 3.5rem;
  text-align: center;
}

.horiseon {
  height: 213px !important;
}

.horiseonb {
  height: 194px;
}

.card-img-top {
  max-width: 100%;
  max-height: 100%;
}

.card-image {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.card:hover .image-overlay {
  opacity: 1;
}

.projects {
  max-width: fit-content;
  margin: auto;
  padding-top: 2rem;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Project1 Project2 Project3"
    "Project4 Project5 Project6";
}

.Project1 {
  grid-area: Project1;
}

.Project2 {
  grid-area: Project2;
}

.Project3 {
  grid-area: Project3;
}

.Project4 {
  grid-area: Project4;
}

.Project5 {
  grid-area: Project5;
}

.Project6 {
  grid-area: Project6;
}

/* FOOTER */

footer {
  padding-bottom: 4rem;
  background-color: #000;
}

footer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 2rem;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.6rem;
}

.icons a {
  margin: 2rem;
  color: #fff;
}

.icons a:hover {
  color: var(--primary-color);
  box-shadow: 2px 2px 2px 2px #0a0a0a;
  border-radius: 0.5rem;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.footer-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

/* MEDIA QUERIES */

@media (max-width: 991px) {
  .projects {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "Project1 Project2"
      "Project4 Project5"
      "Project3 Project6";
  }

  .card {
    width: 20rem !important;
  }

  .section {
    padding: 5rem 5rem;
  }
}

@media (max-width: 767px) {
  section {
    padding: 5rem 0;
  }

  .card {
    width: 20rem !important;
    width: 100%;
  }

  .card-img-top {
    width: 100% !important;
  }

  .projects {
    max-width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "Project1"
      "Project2"
      "Project4"
      "Project5"
      "Project3"
      "Project6";
  }

  .email {
    font-size: 1.5rem;
  }

  .icons {
    font-size: 2rem;
  }

  footer h2 {
    font-size: 3rem;
  }

  .projects_wrapper h2 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 390px) {
  .jumbotron .h1,
  h1 {
    font-size: 3rem;
    text-align: center;
  }

  .jumbotron .h2,
  h2 {
    font-size: 3rem;
    text-align: center;
  }

  .jumbotron .h4,
  h4 {
    font-size: 1.5rem;
    text-align: center;
  }

  .main-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .email {
    font-size: 1.3rem;
  }

  .footer-text {
    font-size: 0.9rem;
  }

  .about p {
    font-size: 1.4rem;
    text-align: center;
  }
}
